<!doctype html>
<html>
    <body>
        <h3>Encuentra tu fecha de viaje más segura</h3>
        <div>
            <form action="/resultado" method="POST">
                <label>Ingresa tu fecha en el siguiente formato 'dd/mm/yyyy'</label>
                <input type="text" id="input" name="Fecha de viaje">
                <br>
                <br>
                <label>Ingresa el número correspondiente a la provincia a la que desees viajar siguiendo la siguiente lista ordenada alfabéticamente:</label>
                <input type="text" id="input" name="Provincia">
                <br>
                <br>
                <input type="submit" value="Cargar datos">
            </form>
        </div>
        <div>
            <h4>Lista de provincias ordenada alfabéticamente para la selección</h4>
            <ol>
                <li>Álava</li>
                <li>Albacete</li>
                <li>Alicante</li>
                <li>Almería</li>
                <li>Asturias</li>
                <li>Ávila</li>
                <li>Badajoz</li>
                <li>Barcelona</li>
                <li>Burgos</li>
                <li>Cáceres</li>
                <li>Cádiz</li>
                <li>Cantabria</li>
                <li>Castellón</li>
                <li>Ciudad Real</li>
                <li>Córdoba</li>
                <li>Cuenca</li>
                <li>Gerona</li>
                <li>Granada</li>
                <li>Guadalajara</li>
                <li>Guipúzcoa</li>
                <li>Huelva</li>
                <li>Huesca</li>
                <li>Islas Baleares</li>
                <li>Jaén</li>
                <li>La Coruña</li>
                <li>La Rioja</li>
                <li>Las Palmas</li>
                <li>León</li>
                <li>Lérida</li>
                <li>Lugo</li>
                <li>Madrid</li>
                <li>Málaga</li>
                <li>Murcia</li>
                <li>Navarra</li>
                <li>Orense</li>
                <li>Palencia</li>
                <li>Pontevedra</li>
                <li>Salamanca</li>
                <li>Santa Cruz de Tenerife</li>
                <li>Segovia</li>
                <li>Sevilla</li>
                <li>Soria</li>
                <li>Tarragona</li>
                <li>Teruel</li>
                <li>Toledo</li>
                <li>Valencia</li>
                <li>Valladolid</li>
                <li>Vizcaya</li>
                <li>Zamora</li>
                <li>Zaragoza</li>
                <li>Ceuta</li>
                <li>Melilla</li>
            </ol>
        </div>
    </body>
</html>
