<!doctype html>
<html>
    <body>
        <h1>La intensidad media de vehículos en España para la fecha que ingresaste es:</h1>
        <h3>{{prediction1}}</h3>
        <h1>El número de accidentes en la provincia que seleccionaste para la fecha que ingresaste es:</h1>
        <h3>{{prediction2}}</h3>
        <h1>El número de víctimas en la provincia que seleccionaste para la fecha que ingresaste es:</h1>
        <h3>{{prediction3}}</h3>
        
        <a href="index.html">Volver a la página principal</a>
    </body>
</html>
